@import url('../index.css');

.content {
    background-color: #064106; 
    position: absolute;
    height: 80%;
    margin: auto;
    width: 80%;
    top: 20%;
    left: 10%;
    box-sizing: content-box;
}

.domains-splitting-line {
    top: 10%;
    position: relative;
    box-sizing: content-box;
}

hr {
    height: 3px;
    color: #dfe090;
    background-color: #dfe090;
    border: none;
}