@import url("../index.css");

.nav-bar{
    background-color: #064106; 
    position: absolute;
    height: 15%;
    top: 0;
    width: 100%;
}

.nav-bar-list{
    margin: 20px 0;
    list-style: none;
    height: 90%;
}

.nav-bar-element{
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 50px;
    width: 20%;
    height: 90%;
    float: left;
}

.nav-bar-button{
    margin: auto;
    border-radius: 20%;
    background-color: #d8be61;
    width: 60%;
    height: 80%;
    font-size: 1.6em; 
}

.nav-bar-link {
    text-decoration: none;
    color: black;
}