@import url("../index.css");

.profile-view-position {
    position: absolute;
    margin: auto;
    width: 30%;
    top: 30%;
    left: 35%;
    box-sizing: content-box;
}

.profile-view {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #064106;
    margin: auto;
    border-radius: 5px;
    padding: 5% 3%;
    box-sizing: border-box;
}

.view-part {
    position: relative;
    background-color: #d8be61;
    padding: 1% 3%;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    padding-left: 10px;
    border-radius: 5px;
    padding-top: 1px;
    box-sizing: border-box;
    font-weight: bold;   
}

.view-part input {
    position: relative;
    width: 90%;
    margin-left: 0;
    left: 0;
    right: 10%;
}

.view-part .title {
    margin: 5px 0;
    padding: 0;
    font-size: 1.2em;
    text-decoration: underline;
}

.profile-field-name {
    position: relative;
    float: left;
}

.profile-field-value {
    position: relative;
    float: right;
}

.profile-submit-button {
    position: relative;
    background-color: #d8be61;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    padding: 2% 0;
    border-radius: 5px;
}

.profile-submit-button input {
    position: relative;
    width: 80%;
    left: 10%;
    right: 10%;
    margin: inherit 0;
    padding: 0;
    font-weight: bold;
}